@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  /* colors */
  --color-body:#F4F7FE;
  --color-primary: #2B3674;
  --color-secondary:#707EAE;
  --color-secondary-gray: #A3AED0;
  --color-secondary-light:#E3DAFF;
  --color-blue-primary: #4318FF;
  --color-google-btn: #F4F7FE;
  --color-light: #E0E5F2;
  --color-white-20:rgba(255, 255, 255, 0.2);
  --color-primary-green:#05CD99;
  --color-secondary-blue:#6AD2FF;
  --color-progress-bar:#EFF4FB;
  
  /* border-radius */
  --radius-primary: 12px;
  --radius-secondary: 20px;
  --bottom-left-radius-login:30%;
  
  --font-weight-main-bold:700;

  
}
@layer utilities {
  .bg-adv-card{
   background-image:  url('/src/assets/images/backgrounds/Products2.png');
  }
  .rounded-bl-login {
    border-bottom-left-radius: var(--bottom-left-radius-login);
  }
  .background-linear-darkmood{
    background: linear-gradient(90deg, #868CFF 0%, #4318FF 100%);
  }
  .background-linear-upgradecard{
    background: linear-gradient(90deg, #868CFF 0%, #4318FF 100%);
  }
  .dropshadow-darkmood{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
/*  Dark Mode Overrides */
.dark {
  --color-secondary-gray: #FFF;
}
@layer utilities {
  .rounded-bl-login {
    border-bottom-left-radius: var(--bottom-left-radius-login);
  }
}

/* making hover on mouse efects */

#AdvBtn2:hover ~ #AdvBgBtn{
  left: 130px;
}
.recharts-wrapper svg:focus{
  outline: none;
  border: none;
}
.recharts-text{
  fill: var(--color-secondary-gray);
}