@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  /* colors */
  --color-primary: #2B3674;
  --color-secondary-gray: #A3AED0;
  --color-blue-primary: #4318FF;
  --color-google-btn: #F4F7FE;
  --color-light: #E0E5F2;
  
  /* border-radius */
  --radius-primary: 12px;
  --bottom-left-radius-login:30%;
  
}
@layer utilities {
  .rounded-bl-login {
    border-bottom-left-radius: var(--bottom-left-radius-login);
  }
}
/*  Dark Mode Overrides */
.dark {
  --color-secondary-gray: #FFF;
}
@layer utilities {
  .rounded-bl-login {
    border-bottom-left-radius: var(--bottom-left-radius-login);
  }
}

